{% extends 'base.html' %}

{% block title %} Account Home {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex flex-wrap">
            <h2>Account : {% if request.user.first_name %} {{ request.user.first_name }} {{ request.user.last_name }}
                {% else %} {{ request.user }} {% endif %}</h2>
            {% if request.user.is_superuser %}
            <div class="btn-toolbar mb-2 mb-md-0 ml-auto">
                <button type="button" class="btn btn-sm btn-outline-secondary ">
                    <span data-feather="calendar"></span>
                    Superuser Account - Admin <i class="fas fa-user-cog fa-lg ml-1"></i>
                </button>
            </div>
            {% endif %}
        </div>

        <div class="col-12">
            <hr>
        </div>

        <div class="col-12 col-md-3 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Support</h5>
                    <div class="list-group">
                        <a href="{% url 'contact' %}" class="list-group-item">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Billing</h5>
                    <div class="list-group">
                        <a href="{% url 'account:order_history' %}" class="list-group-item">Recent Orders</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Details</h5>
                    <div class="list-group">
                        <a href="{% url 'account:update_profile' %}" class="list-group-item">Update Your Profile</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 my-3 ">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">History</h5>
                    <div class="list-group">
                        <a href="{% url 'account:user_history' %}" class="list-group-item">Product Viewed</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <hr>
        </div>

        {% if request.user.is_superuser %}
        <div class="col-12 col-md-3 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Analytics</h5>
                    <div class="list-group">
                        <a href="{% url 'this-week-sales-analytics' %}" class="list-group-item">Sales</a>
                        <a href="{% url 'product-advertisement' %}" class="list-group-item">Advertise Product</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}