{% extends 'base.html' %}
{% load static %}

{% block title %} Login Page {% endblock %}

{% block content %}
<div class="container">
    <form method="POST"> {% csrf_token %}
        <div class="text-center form-group mb-4">
            <img class="mb-4" src="{% static 'imgs/login.png' %}"
                alt="Contact Us" width="150" height="150">
            <h1 class="h2 mb-3 font-weight-normal">{{ title }}</h1>
        </div>
        <div class="col-sm-5 col-12 form-group mx-auto">
            {{ form }}
            <button class="btn btn-lg btn-primary btn-block mt-2" type="submit">Login</button>
        </div>
    </form>
    <p class="mt-5 mb-3 text-center text-muted">Don't have an account? <a href="{% url 'account:register' %}">Sign up here</a></p>
</div>

{% endblock %}