{% extends 'base.html' %}

{% block content %}


<div class="container pb-5">
    {% if is_empty %}

    <div class="container p-5">
        <div class="row">
            <div class="col-12 col-md-5 mx-auto">
                <div class="text-center mx-md-auto">
                    <i class="fas fa-cart-arrow-down h1"></i>
                </div>
                <div class="text-center">
                    <h3 class="pb-4">Your Cart is Currently Empty.</h3>
                    <p class="text-center pb-2">Before proceed to checkout you must add some products to your shopping
                        cart. You will find a lot of interesting products on our "Products" page.</p>
                    <a href="{% url 'products:product-list' %}" class="btn btn-primary px-5">Start Shopping</a>
                </div>
            </div>
        </div>
    </div>

    {% else %}

    <h1>Cart: </h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in cart_obj.products.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"></td>
                <td><b>Total : </b> <span> {{ cart_obj.total }} </span></td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td><a href="{% url 'cart:checkout' %}" class="btn btn-success">Checkout</a></td>
            </tr>
        </tbody>
    </table>

    {% endif %}

</div>
{% endblock %}