{% extends 'base.html' %}

{% block content %}
<div>
    <h1> {{ order_obj.order_id }} --- {{ cart_obj.id }} </h1>
</div>

{% if not order_obj.billing_address %}
<div class="row">
    <div class="col-12 col-md-6 mx-auto">
        <h1>Billing address</h1>
        <form method="POST" action="{% url 'address_create_view' %}">
            {% csrf_token %}
            {{ address_form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

{% else %}
<div class="row">
    <div class="col-12">
        <h1>Finalize Checkout: </h1>
        <hr>
    </div>
    <div class="col-12 col-md-6 mx-auto">
        <h3>Order id: {{ order_obj.order_id }} </h3>
        <h3>Cart Products: <small>{% for prod in cart_obj.products.all %} {{prod}}{% if not forloop.last %}, {% endif %}{% endfor %}</small> </h3>
        <h3>Billing Address: {{ order_obj.billing_address.get_address }} </h3>
        <h3>Cart Total: {{ cart_obj.total }} </h3>
        <h3>Shipping Cost: {{ order_obj.shipping_cost }} </h3>
        <h3>Order Total: {{ order_obj.total }} </h3>
        <form method="POST"> {% csrf_token %}
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}