<footer>
    <style>
        .footer {
            background: #002147;
            height: auto;
            padding-bottom: 30px;
            position: relative;
            width: 100%;
            border-bottom: 1px solid #CCCCCC;
            border-top: 1px solid #DDDDDD;
        }

        .footer p {
            margin: 0;
            color: white;
        }

        .footer-bottom {
            margin-top: 2em;
            border-top: 1px solid #DDDDDD;
            padding-top: 20px;
            padding-bottom: 10px;
        }

        .footer-bottom p.pull-left {
            padding-top: 6px;
            font-size: 0.75em
        }
    </style>

    <div class="footer-bottom footer">
        <div class="container">
            <p class="pull-left copyright"> Copyright © Footer 2020. All right reserved. </p>

        </div>
    </div>
</footer>