{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'account:login' as login_url %}
{% url 'account:register' as register_url %}
{% url 'account:logout' as logout_url %}
{% url 'products:product-list' as products_url %}
{% url 'cart:home' as cart_url %}
{% url 'account:account-home' as account_home_url %}
{% url 'account:user_history' as user_history_url %}

<nav class="navbar navbar-expand-lg navbar-dark sticky-top mb-3 bg-dark py-1">
    <div class="container">
        <a class="navbar-brand" href="{{ home_url }}">eComm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.path == home_url %} active {% endif %}">
                    <a class="nav-link" href="{{ home_url }}">Home</a>
                </li>
                <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
                    <a class="nav-link" href="{{ contact_url }}">Contact</a>
                </li>
                <li class="nav-item {% if request.path == products_url %} active {% endif %}">
                    <a class="nav-link" href="{{ products_url }}">Products</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item {% if request.path == account_home_url %} active {% endif %}" href="{% url 'account:account-home' %}">Account Home</a>
                          <a class="dropdown-item {% if request.path == contact_url %} active {% endif %}" href="{{ contact_url }}">Support</a>
                          <a class="dropdown-item {% if request.path == user_history_url %} active {% endif %}" href="{{ user_history_url }}">History</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="{{ logout_url }}">Logout: {{ request.user }}</a>
                        </div>
                      </li>
                {% else %}
                    <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                        <a class="nav-link" href="{{ login_url }}">Login</a>
                    </li>
                    <li class="nav-item {% if request.path == register_url %} active {% endif %}">
                        <a class="nav-link" href="{{ register_url }}">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
                    <a class="nav-link" href="{{ cart_url }}">Cart: <i class="fas fa-cart-arrow-down"></i> {{ request.session.cart_items_count }} </a>
                </li>

            </ul>
            {% include 'search/snippets/search-form.html' %}
        </div>
    </div>
</nav>